@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7695FF;
}

.container {
    min-width: 250px;
}

.box {
    width: 500px;
    background-color: #9DBDFF;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(255, 255, 255, 0.829);
}

